html { 
    overflow-y:scroll; 
}

body {
    background-color: #000;
    color: #ddd;
}

a { 
    color: #78c78b;
    white-space: nowrap; 
}

h2 {
    color: #fff;
}

h4 {
    color: #eee;
}

.itemTitle { 
    overflow-wrap: break-word; 
}

.itemSubcategory { 
    overflow-wrap: break-word; 
}

.prop { 
    overflow-wrap: break-word; 
}

.footer {
    background-color: rgb(196 196 196 / 0.3); 
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.search { 
    display: none;
    color: #000;
    width: 100%; 
    padding: 8px;
    margin: 12px 0px;
}
@media (orientation: portrait) {
    .search {
        width: calc(100% - 32px);
        margin: 24px 16px;
    }
}

.item {
    margin: 8px 0px 8px 0px; 
}

.list-group-item {
    background-color: #111;
    border: 1px solid #222;
}

#menuItemsList {
    opacity: 0.75;
    filter: grayscale(75%);
}

#about {
    display: none;
}

.nav-pills>li>a:hover {
    color: #000;
    background-color: #585;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #000;
    background-color: #fe6666;
}