html { 
    overflow-y:scroll; 
}

a { 
    white-space: nowrap; 
}

.itemTitle { 
    overflow-wrap: break-word; 
}

.itemSubcategory { 
    overflow-wrap: break-word; 
}

.prop { 
    overflow-wrap: break-word; 
}

.footer {
    background-color: rgb(196 196 196 / 0.3);
    backdrop-filter: blur(10px);
}

.search { 
    display: none;
    width: calc(100% - 24px); 
    padding: 8px;
    margin: 12px; 
}

.item {
    margin: 8px 0px 8px 0px; 
}

#menuItemsList {
    opacity: 0.75;
    filter: grayscale(75%);
}

#about {
    display: none;
}
