html { 
    overflow-y:scroll; 
}

a { 
    color: #436F4D;
    white-space: nowrap; 
}

.itemTitle { 
    overflow-wrap: break-word; 
}

.itemSubcategory { 
    overflow-wrap: break-word; 
}

.prop { 
    overflow-wrap: break-word; 
}

.footer {
    background-color: rgb(196 196 196 / 0.3);
    backdrop-filter: blur(10px);
}

.search { 
    display: none;
    width: 100%; 
    padding: 8px;
    margin-top: 12px; 
    margin-bottom: max(12px, constant(env(safe-area-inset-bottom)));
    margin-bottom: max(12px, calc(env(safe-area-inset-bottom)));
}

.item {
    margin: 8px 0px 8px 0px; 
}

#menuItemsList {
    opacity: 0.75;
    filter: grayscale(75%);
}

#about {
    display: none;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #ca4242;
}
